
body{
    background:rgb(116, 79, 25);
    font-family: 'Mukta', sans-serif;
}


.linha{
    display:flex;
    margin: 30px;
    justify-content: space-around;
}

button{
    height: 45px;
    border-radius:10px;
    border:0;
    margin-left:10px;
    background:rgb(182, 155, 36);
    color:white;
    cursor: pointer;
    
}

button:hover{
    background:rgb(218, 180, 12);

}

input{
    border-radius: 10px;
    border:0;
    height: 35px;
    padding:5px;
    outline:0;
}

input:focus{
   background:rgb(201, 195, 195);
}

.App{
max-width: 800px;
margin:0 auto;
}

h1{
    text-align: center;
    color:white;

}

h2{
    border-bottom:2px solid yellow;
    padding-bottom:3px;
    color:white;
   
}

p{
    font-size: 19px;
    color:white;
}



